/*Presentación del body*/
body, select, input[type='submit'], input[type='text'], button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.presentacion{
    border-radius: 12px;
    border: solid 1px black;
    padding: 0.5pc;
}

/*Diseñador del cabecera*/

header{
    height: 20vh;
    background-color: rgb(175, 175, 226);
    display: flex;
    justify-content: space-evenly;
}

header img{
    width: 138%;
}

/* Diseño del navegador */
nav ul{
    float: right;
    list-style: none;
}

nav li {
    float: left;
}
  
nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}

/*Diseño de la tabla*/
table{
    border: 2px solid black;
    margin-left: 500px;
    margin-top: 20px;
    text-align: center;
}

th, td{
    text-align: left;
    padding: 12px;
}

/* Encabezados */
h1{
    text-align: center;
}

/*Formulario*/
fieldset{
    margin-left: 500px;
    margin-right: 500px;
    text-align: left;
}

input[type='date'], input[type="text"]{
    width: 500px;
    height: 45px;
    font-size: large;
}

button{
    padding: 0.2cm;
    background-color: rgb(107, 192, 54);
    color: black;
}

button:hover{
    background-color: rgb(160, 203, 134);
}

.impo{
    color: red;
}

select{
    background-color: whitesmoke;
    font-size: large;
}

.disenho_select{
    height:45px;
    width:600px;
}

.filtra_select{
    height: 35px;
    width:600px;
}

/*Diseño de footer*/
footer{
    background-color: plum;
    padding: 23px;
    display: flex;
    justify-content: space-evenly;
}

footer ul{
    text-decoration: none;
    text-align: center;
}

footer li{
    list-style: none;
    margin-top: 12px;
}

footer li a{
    text-decoration: none;
    padding: 5px 6px;
    
}

/*Al pasar por encima se cambia el color*/
footer a:hover{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}